*{
    box-sizing: border-box;
}

div{
    display: inline-block;
}

figure{
    position: relative;
    width: 100%;
    margin: 0;
}

img{
    position: relative;
    margin: 0;
}

p.sconto-30{
    width: 40px;
    height: 20px;
    background-color: green;
    position: absolute;
    display: inline;
    top: 0;
    right: 0;
    margin: 0;
}

.sconto-5{
    width: 40px;
    height: 20px;
    background-color: red;
    position: absolute;
    display: inline;
    top: 0;
    right: 0;
    margin: 0;
}



