figure{
    position: relative;
    width: 30%;
}

div{ /* da togliere*/
 width: 100%;
}

img{
    position: relative;
    width: 100%;
}

p.sconto-30{
    width: 40px;
    height: 20px;
    background-color: green;
    position: absolute;
    display: inline;
    top: 0;
    right: 0;
    margin: 0;
}

.sconto-5{
    width: 40px;
    height: 20px;
    background-color: red;
    position: absolute;
    display: inline;
    top: 0;
    right: 0;
    margin: 0;
}

main